@charset "utf-8";
body {
	font-family: Lucida grande, Lucida Sans Unicode, verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	line-height: 1.8em;
	overflow-x: hidden;
	height: 100%;
	width: auto;
	background-color: #FFF;
	color: #4b4948;
	border-top: 2px solid #7ecef4;
	-webkit-font-smoothing: antialiased;
}
.noScroll {
	position: fixed;
	overflow-y: scroll;
}
.content {
	width: 1020px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.content {
		width: 98%;
		margin: 0 auto;
	}
}
/* @media (max-width: 640rem) {
.container{ width:95%; margin:0 auto;}
}
*/







/* ----------------------------------------------------------

header

---------------------------------------------------------- */
header {
	display: block;
	background-color: #FFF;
}
.logo {
	width: 111px;
	height: 26px;
	margin: 20px 10px 15px 0;
	display: block;
}
.logo img {
	width: 111px;
	height: 26px;
}
/* right nav */
.hdr_icon_mainMenu {
	font-size: 12px;
}
.nav_user {
	background: url(../images/common/hdr_icon_user.png) no-repeat 13px 10px;
	background-size: 21px 21px;
}
.nav_userList a {
	margin: 0 10px;
}
.nav_user-admin a {
	background: url(../images/common/hdr_icon_user-admin.png) no-repeat 11px 11px;
	background-size: 22px 15px;
	padding-left: 40px;
}
.nav_userListRegist {
	margin: 10px;
}
.nav_userListRegist a {
	padding: 10px 0;
}
.nav_mainMenu {
	background: url(../images/common/hdr_icon_main-menu.png) no-repeat 11px 14px;
	background-size: 15px 13px;
}
.nav_mypage a {
	background: url(../images/common/hdr_icon_mypage.png) no-repeat 11px 11px;
	background-size: 21px 15px;
	padding-left: 40px;
	padding-right: 20px;
}
.nav_shopping_history a {
	background: url(../images/common/hdr_icon_shopping_history.png) no-repeat 9px 8px;
	background-size: 21px 21px;
	padding-left: 40px;
	padding-right: 20px;
}
.nav_set a {
	background: url(../images/common/hdr_icon_set.png) no-repeat 13px 11px;
	background-size: 14px 14px;
	padding-left: 40px;
}
.nav_help a {
	background: url(../images/common/hdr_icon_help.png) no-repeat 14px 11px;
	background-size: 10px 17px;
	padding-left: 40px;
}
.nav_logout a {
	background: url(../images/common/hdr_icon_logout.png) no-repeat 11px 10px;
	background-size: 19px 19px;
	padding-left: 40px;
}
.nav_mypage:hover, .nav_set:hover, .nav_help:hover, .nav_logout:hover {
}
.user_alert {
	min-width: 20px;
	position: absolute;
	top: 10px;
	right: 14px;
	padding: 3px 6px;
	background-color: #ef5656;
	border-radius: 10px;
	color: #FFF;
	font-size: 10px;
	text-align: center;
	line-height: 1em;
}
.nav_cart .drawer-menu-item {
	background: url(../images/common/hdr_icon_cart.png) no-repeat 0 10px;
	background-size: 21px 21px;
	border-radius: 3px;
	color: #FFF;
	padding-left: 27px;
	display: block;
	min-height: 31px;
}
.nav_cart:before {
	background-color: #f1f1f1;
}
.nav_cart_text {
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.nav_number {
	padding: 3px 6px;
	background-color: #ef5656;
	color: #FFF;
	border-radius: 10px;
	font-size: 10px;
	text-align: center;
}
.drawer-navbar .nav_cart_link {
	color: #888;
	font-size: 12px;
	text-align: right;
	padding: 0 0 10px;
}
.drawer-navbar .nav_cart_btn {
	background-image: -moz-linear-gradient( 90deg, rgb(0,60,88) 0%, rgb(0,84,122) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0,60,88) 0%, rgb(0,84,122) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,60,88) 0%, rgb(0,84,122) 100%);
	border-radius: 20px;
	border: none;
	color: #FFF;
	padding: 5px 10px;
	font-size: 14px;
	display: block;
	text-align: center;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	margin: 20px 10px;
}
.drawer-navbar .drawer-dropdown-menu.nav_cartInner ul li {
	padding-bottom: 10px;
}
.nav_userList .nav_cart_title {
	color: #4b4948;
	line-height: 1.6em;
	margin: 10px;
	text-decoration: none;
	display: block
}
/* blue area */
.hdr_bg {
	width: 100%;
	background-color: #7ecef4;
}
.hdr_select_text {
	float: left;
	padding: 14px 0 0;
}
.hdr_select_text p {
	font-size: 24px;
	color: #003c58;
}
.com_userSmall {
	font-size: 12px;
	font-weight: normal
}
/* nav */
#content_nav nav ul {
	float: right;
	border-left: 1px solid #65bfe9;
}
#content_nav nav ul li {
	float: left;
	border-left: 1px solid #a3ddf8;
	border-right: 1px solid #65bfe9;
}
#content_nav nav ul li {
	display: block;
	text-align: center;
	background-image: -moz-linear-gradient( 90deg, rgb(126,206,244) 0%, rgb(139,213,249) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(126,206,244) 0%, rgb(139,213,249) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(126,206,244) 0%, rgb(139,213,249) 100%);
}
#content_nav nav ul li:hover, #content_nav nav ul li.nav_on {
	display: block;
	text-align: center;
	background-image: -moz-linear-gradient(top, #55a3c7, #5fb6df);
	background-image: -ms-linear-gradient(top, #55a3c7, #5fb6df);
	background-image: -o-linear-gradient(top, #55a3c7, #5fb6df);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#55a3c7), to(#5fb6df));
	background-image: -webkit-linear-gradient(top, #55a3c7, #5fb6df);
	background-image: linear-gradient(top, #55a3c7, #5fb6df);
	box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}
#content_nav nav ul li a {
	padding: 13px 20px 13px 48px;
	display: block;
	color: #003c58;
}
#content_nav nav ul li a:hover, #content_nav nav ul li.nav_on a {
	color: #FFF;
}
#content_nav nav ul li a.nav_graph {
	background: url(../images/common/nav_icon_graph_off.png) no-repeat 20px 20px;
	background-size: 15px 13px;
	text-decoration: none;
}
#content_nav nav ul li a.nav_graph:hover, #content_nav nav ul li.nav_on a.nav_graph {
	background: url(../images/common/nav_icon_graph_on.png) no-repeat 20px 20px;
	background-size: 15px 13px;
	text-decoration: none;
}
#content_nav nav ul li a.nav_report {
	background: url(../images/common/nav_icon_report_off.png) no-repeat 20px 15px;
	background-size: 22px 23px;
	text-decoration: none;
}
#content_nav nav ul li a.nav_report:hover, #content_nav nav ul li.nav_on a.nav_report {
	background: url(../images/common/nav_icon_report_on.png) no-repeat 20px 15px;
	background-size: 22px 23px;
	text-decoration: none;
}
#content_nav nav ul li a.nav_monthly {
	background: url(../images/common/nav_icon_monthly_off.png) no-repeat 20px 16px;
	background-size: 17px 18px;
	text-decoration: none;
}
#content_nav nav ul li a.nav_monthly:hover, #content_nav nav ul li.nav_on a.nav_monthly {
	background: url(../images/common/nav_icon_monthly_on.png) no-repeat 20px 16px;
	background-size: 17px 18px;
	text-decoration: none;
}
/* ----------------------------------------------------------

お知らせ

---------------------------------------------------------- */
.com_news {
	width: 100%;
	float: right;
	margin: 20px 0;
	background-image: -moz-linear-gradient( 90deg, rgb(227,61,61) 0%, rgb(239,86,86) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(227,61,61) 0%, rgb(239,86,86) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(227,61,61) 0%, rgb(239,86,86) 100%);
	border-radius: 6px;
	position: relative;
}
.com_news dt {
	width: 8%;
	height: 60px;
	float: left;
	color: #FFF;
	font-size: 10px;
	line-height: 0.8em;
	text-align: center
}
.com_news dt img {
	width: 29px;
	height: 28px;
	padding: 8px;
}
.com_news dd {
	width: 92%;
	float: right;
	background: url(../images/common/hdr_news_line.png) left top no-repeat, url(../images/common/hdr_news_next.png) right center no-repeat;
	background-size: 2px 121px, 72px 121px;
	line-height: 1.4em;
}
.com_news dd.com_news_dd_en {
	background: url(../images/common/hdr_news_line.png) left top no-repeat, url(../images/common/hdr_news_next_en.png) right center no-repeat;
	background-size: 2px 121px, 136px 60px;
}
.com_news dd:hover {
	opacity: 0.7
}
.com_news_text {
	width: 468px;
	color: #FFF;
}
.com_news_link {
	display: block;
	padding: 13px 12px 12px 12px;
	text-decoration: none !important;
}
/* ----------------------------------------------------------

aside

---------------------------------------------------------- */
#aside_userDate {
	width: 220px;
	float: left;
	background-color: #f6f6f6;
	border: 1px solid #dddddd;
}
.aside_container {
	width: 180px;
	margin: 10px auto 20px;
}
.aside_title {
	float: left;
}
.aside_btn_edit {
	float: right;
}
.aside_photo {
	width: 178px;
	background-color: #FFF;
	border-radius: 3px;
	border: 1px solid #DDD;
	margin: 10px 0;
}
.aside_photoInner {
	width: 172px;
	height: 172px;
	margin: 3px;
	position: relative;
	overflow: hidden;
}
.aside_photo img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
dl.aside_userDetail {
	width: 179px;
	margin-bottom: 10px;
}
dl.aside_userDetail dt {
	float: left;
	clear: left;
	width: 19px;
	text-align: center;
	margin-right: 10px;
}
dl.aside_userDetail dt img {
	margin-bottom: -3px
}
dl.aside_userDetail dd {
	float: left;
	width: 150px;
	font-size: 12px;
}
/* aside_emergency*/
.aside_emergency {
	border-radius: 3px;
	overflow: hidden;
	background-color: #ffebeb;
	margin-bottom: 20px;
}
.aside_emergency h3 {
	background-color: #ef5656;
	color: #FFF;
	padding: 8px 0;
	text-align: center;
	text-indent: -20px;
}
.aside_emergency h3 img {
	margin-bottom: -3px;
}
.aside_emergency ul li {
	padding: 10px;
	border-bottom: 1px solid #dddddd;
	line-height: 1.4em;
}
.aside_emergency ul li:last-child {
	border-bottom: none;
}
.aside_emergency ul li dl dt {
	font-weight: bold;
}
/* aside_share*/
.aside_share {
	border-radius: 3px;
	overflow: hidden;
	background-color: #FFF;
}
.aside_share h3 {
	background-color: #dddddd;
	color: #4c4948;
	padding: 8px 0;
	text-align: center;
	text-indent: -30px;
}
.aside_share h3 img {
	margin-bottom: -3px;
}
.aside_shareInner {
	padding: 10px;
}
.scroll_area {
	height: 140px;
	overflow: auto;
}
.aside_share ul li {
	line-height: 1.4em;
}
/* 全体 */
.jspContainer {
	overflow: hidden;
	position: relative;
}
/* スクロールバーを除いたエリア */
.jspPane {
	position: absolute;
}
/* 縦スクロールバー */
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
}
/* 横スクロールバー */
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
}
/* 背景 */
.jspTrack {
	background: #EEE;
	position: relative;
}
/* ノブ */
.jspDrag {
	background: #aaa;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
/* ----------------------------------------------------------

footer

---------------------------------------------------------- */
footer {
	width: 100%;
	background-color: #7ecef4;
	margin-top: 60px;
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
	color: #003c58;
}
footer a:link, footer a:visited {
	color: #003c58;
	text-decoration: none;
}
footer a:hover, footer　a:active {
	color: #003c58;
	text-decoration: underline;
}
footer ul li {
	display: inline-block;
	padding: 0 10px;
}
.ftr_copyrights {
	font-size: 20px;
	vertical-align: sub
}
/* page-top */

#page-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 77%;
	line-height: 0;
}
#page-top a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 20px;
	width: 59px;
	height: 59px;
}
#page-top a:hover {
	text-decoration: none;
	opacity: 0.6
}
#page-top span {
	word-break: break-all;
}

@media (max-width: 736px) {
footer ul {
	padding: 0 10px;
}
footer {
	background-color: #7ecef4;
	margin-top: 60px;
	padding: 20px 0 70px;
	text-align: center;
	font-size: 13px;
	color: #003c58;
	line-height: 1.8em
}
#page-top a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 0;
	width: 59px;
	height: 59px;
}
}
/* ----------------------------------------------------------

ユーザーの様子

---------------------------------------------------------- */

/* 現在値 */
.graph_title_icon {
	background: url(../images/graph/graph_title_icon.png) no-repeat 10px center #7ecef4;
	background-size: 24px 21px;
}
.graph_list {
	width: 780px;
	margin-right: -10px;
	overflow: hidden;
	margin-bottom: 50px;
}
.graph_list li {
	width: 250px;
	float: left;
	padding-bottom: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #f6f6f6;
}
.graph_list li.graph_error {
	overflow: hidden;
	background-color: #ffffff;
}
.graph_set {
	padding: 8px;
	position: relative;
}
.graph_rank {
	font-size: 16px;
	color: #ff8e9c;
}
.graph_text {
	text-align: center;
	color: #003c58;
}
.graph_number {
	font-family: 'Roboto Condensed', sans-serif, Arial, Helvetica;
	font-size: 38px;
	color: #003c58;
	text-align: center
}
.graph_text_gray {
	color: #888;
	text-align: center;
	font-size: 12px;
}
.graph_set hr {
	border-top: 1px solid #dcdcdc;
	border-right: none;
	border-bottom: none;
	border-left: none;
	margin: 8px 0;
}
.graph_chart {
	width: 173px;
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif, Arial Black, Arial, Helvetica;
}
.graph_text_Overlying {
	position: absolute;
	top: 95px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.graph_title {
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 1.2em
}
.myStat01 {
	height: 153px;
}
/* bed */
.graph_list li.bedSensorGraph {
	width: 770px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	margin-right: -10px;
	overflow: hidden;
	background-color: #f6f6f6;
}
.graph_list li.bedSensorGraph li:first-child{
	width: 260px;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
}
.graph_list li.bedSensorGraph li{
	width: 255px;
	margin-right: 0;
	margin-bottom: 0;
	float: left;
}
.h3_bed{
	color: #5a498b;
	font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 5px;
	margin: 3px 10px 10px;
}
.h3_bed img{
	margin-right: 5px;
	margin-bottom: -2px;
}
.graph_icon_bed{
	width: 103px;
	height: 103px;
	float: left;
	margin-left: 10px;
}
.graph_icon_heart{
	float: right;
	margin-right: 10px;
}
.graph_bed_text{
	width: 103px;
	height: 103px;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	line-height: 1.8rem;
	font-weight: bold;
}
.graph_icon_bed .graph_bed_text{
	background: url(../images/graph/graph_icon_bed.png) no-repeat;
	background-size: 103px 93px;
}
.graph_icon_heart .graph_bed_text{
	background: url(../images/graph/graph_icon_heart.png) no-repeat;
	background-size: 103px 93px;
}
.graph_bed_text p{
	padding-top: 35px;
}
.graph_icon_watch{
	width: 35px;
	height: 35px;
	float: right;
	margin-top: -40px;
}
.graph_sleepIconText{
	text-align: right;
	font-size: 13px;
}
/* 24時間 */
.graph24_select {
	width: 100%;
	border-radius: 6px;
	background-color: #d6e9f2;
}
.graph24_select table, .graph_select th, .graph_select td {
	border: 0;
}
.graph24_select th {
	width: 145px;
	background: url(../images/graph/graph_select_dt.png) no-repeat left center;
	padding: 20px;
	text-align: left;
	color: #003c58;
	vertical-align: middle
}
.graph24_select_arrow {
	line-height: 0;
	text-align: center
}
.graph24_select td {
	width: 565px;
	padding: 10px;
	line-height: 2em;
}
/* ライングラフ */
.graph24_chart_line {
	border: 2px solid #b8e3f8;
	border-radius: 6px;
	background-color: #FFF;
}
.graph24_hdr {
	background-color: #b8e3f8;
	padding: 12px;
	position: relative;
}
.graph24_day {
	text-align: center;
	font-size: 20px;
	color: #003c58;
	font-weight: bold;
}
.graph24_hdr ul {
	width: 235px;
	position: absolute;
	top: 15px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto auto;
}
.graph24_back {
	float: left;
}
.graph24_next {
	float: right;
}
.graph24_hdr ul li a:hover {
	opacity: 0.7;
}
/* カレンダー */
.graph24_calendar {
	position: absolute;
	top: 4px;
	right: 10px;
}
.graph24_cal_selectInner {
	width: 180px;
	position: relative;
}
.graph24_cal_head {
	background-color: #003c58;
	color: #FFF;
	font-size: 12px;
	padding: 5px;
}
.graph24_cal_head li {
	float: left;
	text-align: center;
}
.graph24_cal_head li span {
	display: block;
	color: #FFF;
	cursor: pointer;
}
.graph24_cal_head li span:hover {
	opacity: 0.6
}
.graph24_cal_back, .graph24_cal_next {
	width: 20%;
}
.graph24_cal_thisMonth {
	width: 60%;
}
.graph24_cal_thisMonth .slide_btn {
	background: url(../images/graph/btn-arrow-light.gif) no-repeat right 6px #003c58;
}
.graph24_cal_table {
	width: 100%;
	border: 1px solid #b8e3f8;
	background-color: #FFF;
	font-size: 12px;
	line-height: 2em;
	border-collapse: collapse;
	margin-bottom: 5px;
}
.graph24_cal_table thead tr {
	background-color: #EEE;
}
.graph24_cal_table tbody {
	text-align: center;
	font-size: 10px;
}
.graph24_cal-prevday span, .graph24_cal-nextday span {
	color: #CCC;
}
.graph24_cal_table tbody span {
	display: block;
	cursor: pointer;
}
.graph24_cal_table tbody span:hover {
	background-color: #d6e9f2;
}
.graph24_cal-selected span {
	background-color: #7ecef4;
	color: #FFF;
}
.graph24_cal-today span {
	border: 1px solid #FF0000;
	font-weight: bold;
	background-color: #ffebeb;
	line-height: 1.4em
}
.graph24_cal-today.graph24_cal-selected span {
	border: 1px solid #FF0000;
	font-weight: bold;
	background-color: #ffebeb;
	line-height: 1.4em;
	color: #4b4948;
}
.graph24_btnArea {
	text-align: center;
}
.graph24_btnArea .btn_text {
	font-size: 14px;
	padding: 5px 20px;
}
.graph24_cal_otherMonth {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	border: 1px solid #b8e3f8;
	color: #4c4948;
}
.graph24_cal_head li span.slide_btn_back {
	width: 80%;
	margin: 0 auto;
	color: #4c4948;
}
.graph24_lineArea {
	width: 720px;
	margin: 20px auto;
}
/* ----------------------------------------------------------

確認・報告

---------------------------------------------------------- */

.report_title_icon {
	background: url(../images/report/report_title_icon.png) no-repeat 10px center #7ecef4;
	background-size: 29px 29px;
}
#report_sort {
	width: 770px;
	background-color: #f6f6f6;
	border-radius: 6px;
	overflow: hidden;
	padding-bottom: 10px
}
#report_sort dl {
	margin-bottom: 8px;
}
#report_sort dl dt {
	width: 92px;
	float: left;
	padding: 10px 0 10px 20px;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e8e8e8;
	font-weight: bold;
}
#report_sort dt:first-child {
	border-top: none;
}
#report_sort dl dd {
	width: 638px;
	float: left;
	padding: 10px 20px 10px 0;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e8e8e8;
}
a.report_sort_off {
	background-color: #FFF;
	color: #4c4948;
	text-decoration: none;
	padding: 5px 10px;
}
a.report_sort_on {
	background-color: #003c58;
	color: #FFF;
	text-decoration: none;
	padding: 5px 10px;
}
a.report_btn {
	width: 216px;
	margin: 0 auto;
}
a.report_btn:hover {
	opacity: 0.7
}
/* ページ操作 */
.report_pageBox {
	margin: 20px 0;
}
.report_operation {
	width: 385px;
	float: left;
}
.report_select {
	width: 180px;
	float: left;
}
.report_btn_apply {
	margin-left: 170px;
	margin-top: 3px;
}
.report_btn_apply .btn_text {
	padding: 8px;
}
.report_pager {
	float: right;
	text-align: right;
	margin-top: 8px;
}
.report_pager_num {
	margin-right: 10px;
	padding-top: 5px;
}
.report_pager input {
	width: 18px;
	height: 18px;
	margin: -3px 0 -1px 15px;
	text-align: center
}
.report_pager_pages {
	margin-right: 15px;
}
.report_pager_navspan {
	width: 12px;
	height: 12px;
	border: 1px solid #ddd;
	display: inline-block;
	padding: 5px;
	line-height: 1em;
	text-align: center;
	text-indent: -9999px;
}
.report_false {
	background-color: #EEE;
}
.report_true:hover {
	background-color: #b8e3f8;
	cursor: pointer;
}
.btn_back_last {
	background-image: url(../images/report/btn_back_last.png);
	background-size: 24px 26px;
	background-repeat: no-repeat;
	background-position: center;
}
.btn_back {
	background-image: url(../images/report/btn_back.png);
	background-size: 24px 26px;
	background-repeat: no-repeat;
	background-position: center;
}
.btn_next_last {
	background-image: url(../images/report/btn_next_last.png);
	background-size: 24px 26px;
	background-repeat: no-repeat;
	background-position: center;
}
.btn_next {
	background-image: url(../images/report/btn_next.png);
	background-size: 24px 26px;
	background-repeat: no-repeat;
	background-position: center;
}
/* ページリスト */
.report_pageList_table {
	width: 100%;
	margin: 20px 0;
	border-collapse: collapse;
	font-size: 12px;
	white-space: nowrap
}
.report_pageList_table thead tr {
	background-color: #b8e3f8;
	color: #003c58;
}
.report_pageList_table thead th, .report_pageList_table thead td {
	border-right: 1px solid #98d5f3;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
}
.report_pageList_table thead th:last-child, .report_pageList_table thead td:last-child {
	border-right: none;
}
.report_pageList_table tr {
	border-bottom: 1px dotted #c2c2c2;
	border-collapse: collapse
}
.report_pageList_table .btn_text {
	font-size: 12px;
}
.report_pageList_table input[type=radio] + label, .report_pageList_table input[type=checkbox] + label {
	padding: 0 8px 0 0;
}
.report_pageList_table tbody th, .report_pageList_table tbody td {
	border-right: 1px solid #DDD;
	text-align: center;
	padding: 5px 10px;
	vertical-align: middle;
}
.report_pageList_table tbody th:last-child, .report_pageList_table tbody td:last-child {
	border-right: none;
	padding: 15px 5px;
}
.report_pageList_table tbody tr {
	background-color: #f9f9f9;
}
.report_pageList_table tbody tr:nth-child(3), .report_pageList_table tbody tr:nth-child(7), .report_pageList_table tbody tr:nth-child(11), .report_pageList_table tbody tr:nth-child(15), .report_pageList_table tbody tr:nth-child(19), .report_pageList_table tbody tr:nth-child(23), .report_pageList_table tbody tr:nth-child(27), .report_pageList_table tbody tr:nth-child(31), .report_pageList_table tbody tr:nth-child(35), .report_pageList_table tbody tr:nth-child(39) {
	background: #f1f1f1;
}
.report_pageList_table tr.report_itemSet {
	border: 3px solid #003c58;
	background-color: #FFF;
	position: relative;
}
.report_arrow {
	position: absolute;
	top: -20px;
	right: 58px;
}
.report_arrow:before {
	content: "▲";
	font-size: 20px;
	color: #003c58
}
.report_pageList_table tr.report_itemSet td {
	white-space: normal;
	border: none;
	text-align: left;
	padding: 10px;
	position: relative;
}
.report_itemInner {
	padding: 10px 0;
	font-size: 14px;
	text-align: left;
}
.report_itemInner .btn_darkBlue {
	width: 100px;
	padding: 5px 10px;
}
.report_itemInner strong {
	color: #003c58
}
/* カテゴリー */
.report_category_yotei {
	background-color: #3faf44;
	color: #FFF;
	padding: 0;
	display: block
}
.report_category_mikoudou {
	background-color: #b14bdb;
	color: #FFF;
	padding: 0;
	display: block
}
.report_category_kishou {
	background-color: #ff9600;
	color: #FFF;
	padding: 0;
	display: block
}
.report_category_shushin {
	background-color: #4d4f84;
	color: #FFF;
	padding: 0;
	display: block
}
.report_category_kinkyu {
	background-color: #ff0000;
	color: #FFF;
	padding: 0;
	font-size: 16px;
	display: block
}
/* 状態 */
.report_state_mitaiou {
	background-color: #ffc7c7;
	border: 1px solid #f5a2a2;
	color: #ff4040;
	padding: 0;
	display: block
}
.report_state_taiouzumi {
	background-color: #DDD;
	border: 1px solid #CCC;
	color: #4c4948;
	padding: 0;
	display: block
}
.report_state_taiouyotei {
	background-color: #c5ecdf;
	border: 1px solid #a4dfcb;
	color: #3faf44;
	padding: 0;
	display: block
}
.report_state_taiouhuyou {
	color: #aaaaaa;
	padding: 5px;
}
/* ページ表示時の設定のために必要 */
.hide_onload {
}
.hide_btn {
	display: none
}
/* 折りたたみ式 のページ用 ここまで */



/* ----------------------------------------------------------

マンスリーレポート

---------------------------------------------------------- */
.monthly_title_icon {
	background: url(../images/monthly/monthly_title_icon.png) no-repeat 10px 0.4em #7ecef4;
	background-size: 25px 24px;
}
.montly_period{
	font-size: 20px;
	text-align: center;
	margin: 40px 0;
	font-weight: bold;
}
#monthly_keikou{
	border: 3px solid #003b59;
	padding:20px 30px;
}
.monthly_keikou_h2{
	font-size: 20px;
	color: #003b59;
	margin-bottom: 10px;
}
.monthly_keikou_h2:before {
	content: " ";
	width: 25px;
	height: 24px;
	float: left;
	position: relative;
	top: 0;
	background:url(../images/monthly/monthly_icon_keikou.png) no-repeat;
	display: block;
	background-size: 20px 24px;
}

.monthly_keikou_list li{
	padding: 10px;
}
.monthly_keikou_list li:nth-child(odd){
	background: #f6f6f6;
}
.monthly_keikou_list dl{
	display: table;
}
.monthly_keikou_list dl dt{
	width: 80px;
	display: table-cell;
	vertical-align:middle;
}
.monthly_keikou_list dl dd{
	display: table-cell;
	vertical-align:middle;
}
#monthly_undou{
	margin-top: 40px;
}
.monthly_tit{
	font-size: 20px;
	color: #003b59;
	padding-bottom: 12px;
	margin-bottom: 30px;
	border-bottom: 1px solid #003b59;
}
.monthly_undou_h2:before {
	content: " ";
	width: 30px;
	height: 34px;
	float: left;
	position: relative;
	top: -5px;
	background:url(../images/monthly/monthly_icon_undou.png) no-repeat;
	display: block;
	background-size: 26px 34px;
}
.monthly_suimin_h2:before {
	content: " ";
	width: 30px;
	height: 34px;
	float: left;
	position: relative;
	top: -5px;
	background:url(../images/monthly/monthly_icon_suimin.png) no-repeat;
	display: block;
	background-size: 26px 34px;
}
.monthly_kion_h2:before {
	content: " ";
	width: 30px;
	height: 34px;
	float: left;
	position: relative;
	top: -5px;
	background:url(../images/monthly/monthly_icon_kion.png) no-repeat;
	display: block;
	background-size: 26px 34px;
}
.monthly_ijou_h2:before {
	content: " ";
	width: 30px;
	height: 34px;
	float: left;
	position: relative;
	top: -5px;
	background:url(../images/monthly/monthly_icon_ijou.png) no-repeat;
	display: block;
	background-size: 26px 34px;
}
.monthly_graph{
	margin-bottom: 40px;
}
.monthly_graph2{
	margin-bottom: 80px;
}
.monthly_suimin_icon{
	position: relative;
}
.monthly_suimin_icon img{
	position:absolute;
	top: 0.5em;
	left: -23px;
}
.monthly_kion_midashi{
	width: 70px;
	float: left;
}
.monthly_kion_graph{
	float: right;
}
.monthly_kion_h4{
	width: 70px;
	height: 70px;
	color: #FFF;
	display: table;
}
.monthly_kion_h4_icon{
	background: url(../images/monthly/monthly_bg_kion.png) no-repeat;
	background-size: 70px 70px;
}
.monthly_shitsudo_h4_icon{
	background: url(../images/monthly/monthly_bg_shitsudo.png) no-repeat;	
	background-size: 70px 70px;
}
.monthly_kion_h4 span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 2.5em;
}
.monthly_table th{
	background-color: #b7e3f9;
	border-right:1px solid #96d5f5;
	color: #003b59;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
}
.monthly_table th:last-child{
	border-right:none;
}
.monthly_table tr{
	background-color: #eef4f6;
	border-collapse: collapse;
}
.monthly_table tr:nth-child(odd){
	background-color: #f9f9f9;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
}
.monthly_table td{
	text-align: center;
	padding: 5px;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-collapse: collapse;
}
.monthly_table td:last-child{
	border-right:1px solid #DDD;
}
.monthly_table strong{
	font-size: 16px;
}



/* ----------------------------------------------------------

ユーザー情報編集

---------------------------------------------------------- */
.form_title {
	padding: 8px 0;
	background-color: #cbe7f4;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #003c58;
}
p + .form_title, div + .form_title, p + .form_set_container {
	margin-top: 30px;
}
.form_set_container {
	width: 978px;
	border: 1px solid #cbe7f4;
	display: table;
	padding: 0 20px;
	box-shadow: 0 2px 2px #EEE
}

@media (max-width: 640px) {
	.form_set_container {
		width: 100%;
		padding: 0 0px;
	}
}

@media (max-width: 768px) {
	.form_set_container {
		width: 100%;
		padding: 0 0px;
	}
}

.form_set_container + .form_set_container {
	border-top: none;
	margin-top: -1px
}
.form_left_container {
	width: 760px;
	display: table-cell;
	vertical-align: middle;
	border-right: 1px solid #cbe7f4;
	padding-right: 20px;
}
.form_right_container {
	width: 178px;
	display: table-cell;
	vertical-align: middle;
	padding: 20px 0 10px 20px;
}
.form_set_container table {
	width: 100%;
	margin-top: 15px;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.form_set_container table tr {
	border-bottom: 1px dotted #c2c2c2;
}
.form_set_container table tr:nth-child(even) {
	background-color: #f6f6f6;
}
.form_set_container table tr:last-child {
	border-bottom: none;
}
.form_set_container table tr:nth-child(even):last-child {
	border-bottom: 1px dotted #c2c2c2;
}
.form_set_container table th {
	padding: 15px 10px;
	text-align: left;
	vertical-align: top;
}

@media (max-width: 640px) {
	.form_set_container table th {
		width: 35% !important;
		font-size: 12px;
	}
}

.form_set_container table th.largeTh {
	width: 250px;
	padding: 10px;
	text-align: left;
	vertical-align: middle
}
.form_set_container table td {
	padding: 15px 10px;
	position: relative;
}
.userDate_photo {
	width: 178px;
	float: left;
	clear: left;
	margin: 10px 0 20px;
}
.userDate_photo + .form_base_data {
	width: 560px;
	margin-left: 200px;
}
.userDate_photo + .form_base_data_edit {
	width: 778px;
	margin-left: 200px;
}
.uploadButton {
	width: 160px;
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: 1.4em;
}
.uploadButton:hover {
}
.uploadButton input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.uploadValue {
	display: none;
	background: rgba(255,255,255,0.2);
	border-radius: 3px;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 3px;
	color: #FFF;
}
.title_errer {
	color: #df1838;
	font-size: 20px;
	text-align: center;
	margin: 30px 0 15px;
}
.error {
	color: #333;
	background: url(../images/common/icon_errer.png) 2px no-repeat #f4ed7e;
	background-size: 21px 21px;
	padding: 3px 3px 1px 28px;
	margin-top: 5px;
}
.form_result th {
	text-align: center;
	padding: 30px;
	font-size: 20px;
}
.form_result td {
	text-align: center;
	padding: 30px;
}
.table_border {
	border: 1px solid #DDD;
}
.form_right_container .btn_darkBlue, .set_container .center_container, .tableBlue .btn_darkBlue {
	position: relative;
}
.form_right_container .btn_darkBlue::after, .set_container .center_container::after, .tableBlue .btn_darkBlue::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-top: 3px solid #FFF;
	border-right: 3px solid #FFF;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -7px;
}
/* ----------------------------------------------------------

マイページ

---------------------------------------------------------- */
.phone_number {
	font-family: 'Roboto Condensed', sans-serif, Arial, Helvetica;
	font-size: 50px;
	color: #003c58;
	text-align: center
}
/* ----------------------------------------------------------

ユーザー管理

---------------------------------------------------------- */
.usrMn_btn_edit {
	position: absolute;
	top: 10px;
	right: 8px;
}
.usrMn_btn_edit .btn_text {
	padding: 8px 24px;
}
.usrMn_list {
	margin: 20px 0 30px;
}
.usrMn_list li {
	border-bottom: 1px dotted #DDD;
	list-style: none;
	padding: 10px;
}
.usrMn_list li:last-child {
	border-bottom: none;
	list-style: none;
	padding: 10px 10px 0;
}
.lowerTotalPrice {
	font-size: 16px;
	padding: 10px 10px;
}
/* ----------------------------------------------------------

グラフ設定値変更

---------------------------------------------------------- */
.form_set_container.graph_form table th {
	background-color: #cbe7f4;
}
.settingContainer {
	display: table;
}

@media (max-width: 640px) {
	.settingContainer {
		width:100%;
	}

	.graphSettingFalse {
		width: 60%;
	}
}
.settingInner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.graphSettingTrue {
	width: 60%;
	margin: 0 auto 20px;
	display: block;
}
.graphSettingFalse {
	width: 40%;
	margin: 0 auto;
	display: block;
}
.mailSetting {
	margin-top: -4px;
}
a.mail_on {
	width: 100px;
	display: block;
	float: right;
	border: none;
	background-color: #ef5656;
	border-radius: 6px;
	margin: 5px 0 0;
	padding: 5px 0;
	line-height: 1.4em;
	text-align: center;
	color: #FFF;
	font-size: 10px;
	text-decoration: none;
}
a.mail_off {
	width: 100px;
	height: 15px;
	display: block;
	float: right;
	background-color: #ccc;
	border-radius: 6px;
	margin: 5px 0 0;
	padding: 5px 0;
	line-height: 1.4em;
	text-align: center;
	color: #FFF;
	font-size: 10px;
	text-decoration: none;
}
a.mail_on:hover, a.mail_off:hover {
	opacity: 1;
}
/* ----------------------------------------------------------

Q＆A

---------------------------------------------------------- */
.allOpenBtn .switchOn {
	background: url(../images/help/btn_open_all.png) 0 1px no-repeat;
	background-size: 24px 60px;
	padding-left: 30px;
	padding: 5px 0 5px 30px;
}
.allOpenBtn .switchOn.nowOpen {
	background-position: 0 -35px;
}
.qList {
	margin-bottom: 60px;
}
.qList dt.switchOn {
	padding: 5px 15px;
	background: url(../images/help/btn_open_all.png) 5px 5px no-repeat #CBE7F5;
	background-size: 24px 60px;
	padding-left: 38px;
	min-height: 28px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #003c58;
	margin-bottom: 10px;
}
.qList dt.switchOn.nowOpen {
	background-position: 5px -29px;
}
.qList dd {
	margin-bottom: 20px;
}
/* ----------------------------------------------------------

ニュース

---------------------------------------------------------- */
.news_titleSet {
	position: relative;
}
.news_btn_detail {
	position: absolute;
	top: 0;
	right: 0;
}
.newsList dt {
	width: 100px;
	float: left;
	clear: left;
	font-size: 12px;
	color: #999;
	margin-bottom: 10px;
}
.newsList dd {
	margin-left: 100px;
	margin-bottom: 10px;
}
ul.pagingList {
	width: 100%;
	text-align: center;
}
ul.pagingList li {
	display: inline;
	padding: 10px;
}
a.nowHere {
	background-color: #EEE;
	padding: 10px;
}
a.nowHere:link, a.nowHere:visited, a.nowHere:hover, a.nowHere:active {
	color: #4b4948 !important;
	text-decoration: none
}
.news_h2 {
	font-size: 34px;
	line-height: 1.6em;
	font-weight: bold;
	color: #003c58;
	margin-bottom: 20px;
}
.news_detail_time {
	color: #999;
	background: url(../images/news/icon_time.png) 0 5px no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.post-body {
	margin-top: 20px;
	padding-bottom: 40px;
}
/* ----------------------------------------------------------

ログイン

---------------------------------------------------------- */

#loginBg {
	z-index: -1;
	position: fixed;
}
a.moreINfoLink:link {
	text-decoration: none;
}
.moreInfoTitle {
	text-align: center;
	color: #4b4948;
	text-decoration: none;
}
.loginOpenWindow{ padding:25px 25px 20px;}

.loginOpenWindow dl{ margin-bottom:10px;}
.loginOpenWindow dl dt {
	width: 120px;
	float: left;
	clear: left;
	margin-bottom: 10px;
}
.loginOpenWindow dl dd {
	margin-left: 80px;
	margin-bottom: 10px;
}
.loginOpenWindow dl dt:last-child, .loginOpenWindow dl dd:last-child {
	margin-bottom: 0;
}

@media (min-width: 774px) {
#loginTop {
	width: 840px;
	
    min-height: 520px;
	margin: 0 auto;
	position: relative;
}
#loginTitle {
	width: 413px;
	height: 190px;
	background: url(../images/login/login_text.png) no-repeat;
	background-size: 413px 190px;
	text-indent: -9999px;
	position: absolute;
	left: 0;
}
#loginContainer {
	width: 350px;
	position: absolute;
	right: 0;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0 0 5px #DDD;
}
#loginContainerInner {
	padding: 25px 25px 25px;
}
#loginContainer dl {
	margin-bottom: 20px;
}
#loginContainer dl dt {
	width: 120px;
	float: left;
	clear: left;
	margin-bottom: 10px;
}
#loginContainer dl dd {
	width:190px;
	margin-left: 120px;
	margin-bottom: 10px;
}
#loginContainer dl dd input{ width:160px;}
#loginContainer dl dt:last-child, #loginContainer dl dd:last-child {
	margin-bottom: 0;
}
.loginMoreInfo {
	padding-top: 50px;
	padding-bottom: 80px;
}
.loginBg footer {
	margin-top: 0;
}
}

@media (min-width: 641px) and (max-width: 773px) {
#loginTop {
	position: relative;
}
#loginTitle {
	font-size: 24px;
	color: #4b4948;
	line-height: 1.6em;
	text-shadow: 1px 1px 2px #FFF;
	text-align: center;
	padding: 20px 0
}
#loginContainer {
	width: 280px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0 0 5px #DDD;
}
#loginContainerInner {
	padding: 20px;
}
#loginContainer dl {
	margin-bottom: 20px;
}
#loginContainer dl dt {
	margin-bottom: 5px;
}
#loginContainer dl dd {
	margin-bottom: 10px;
}
#loginContainer dl dt:last-child, #loginContainer dl dd:last-child {
	margin-bottom: 0;
}
#loginContainer dl dd input {
	width: 90%;
	height: 20px;
}
.sp_noWrap {
	display: block;
}
.loginMoreInfo {
	padding-bottom: 60px;
}
}
#moreInfoBg {
	background-color: rgba(255,255,255,0.8);
	padding: 35px 0;
}
.moreInfoInner2 {
	width: 100%;
	max-width:1020px;
	margin: 20px auto 0;
}

@media (max-width: 640px) {
#loginTop {
	position: relative;
}
#loginTitle {
	font-size: 22px;
	color: #4b4948;
	line-height: 1.4em;
	text-shadow: 1px 1px 2px #FFF;
	text-align: center;
	padding: 15px 0 10px
}
#loginContainer {
	width: 280px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 0 0 5px #DDD;
}
#loginContainerInner {
	padding: 18px;
}
#loginContainer dl {
	margin-bottom: 10px;
}
#loginContainer dl dt {
	margin-bottom: 0;
}
#loginContainer dl dd {
	margin-bottom: 5px;
}
#loginContainer dl dt:last-child, #loginContainer dl dd:last-child {
	margin-bottom: 0;
}
#loginContainer dl dd input {
	width: 90%;
	height: 20px;
}
.sp_noWrap {
	display: block;
}
}

@media (min-width: 774px) and (max-height: 560px) {
#loginTop {
	width: 800px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
#loginTitle {
	margin: 0;
}
}

@media (min-width: 774px) and (min-height: 561px) {
#loginTitle {
	margin-top: -5%;
}
}

@media (min-width: 774px) and (min-height: 770px) {
#loginTitle {
	margin-top: -10%;
}
}

@media (min-width: 774px) and (min-height: 970px) {
#loginTitle {
	margin-top: -15%;
}
}

@media (max-width: 773px) {
#moreInfoBg {
	background-color: rgba(255,255,255,0.8);
	padding: 30px 0;
	margin-top: 80px;
}
.moreInfoInner2 {
	width: 95%;
	margin: 0 auto;
}
.loginMoreInfo {
	padding-bottom: 60px;
}
}

@media (max-width: 640px) {
#moreInfoBg {
	background-color: rgba(255,255,255,0.8);
	padding: 20px 0;
	margin-top: 30px;
}
.moreInfoInner2 {
	width: 95%;
	margin: 0 auto;
}
.moreInfoInner2 .contentHalf {
	width: 100%;
	margin-bottom: 20px;
}
.moreInfoInner2 .contentHalf.floatL {
	float: none;
}
.loginMoreInfo {
	padding-bottom: 60px;
}
}
/* ----------------------------------------------------------

初期登録

---------------------------------------------------------- */

.regist_kiyaku {
	height: 250px;
	overflow-y: scroll;
	padding: 20px;
	font-size: 12px;
	line-height: 1.4em
}
.regist_mailTOUROKU {
	width: 80%;
	background-color: #FFF;
	border: 1px solid #DDD;
	margin: 30px auto
}
.regist_mailTOUROKU th {
	padding: 20px 40px;
	width: 35%;
}
.regist_mailTOUROKU td {
	padding: 20px 40px
}
.regist_kiyaku_doui {
	padding: 20px 40px;
	text-align: center
}
.regist_h2 {
	font-size: 27px;
	line-height: 1.4em;
	color: #003c58;
	font-weight: normal;
	margin-bottom: 20px;
}
.regist_h3 {
	font-size: 27px;
	line-height: 1.4em;
	color: #00b7f1;
	font-weight: normal;
	margin-bottom: 10px;
}
.regist_h4 {
	font-size: 27px;
	line-height: 1.4em;
	color: #003c58;
	font-weight: normal;
	margin-bottom: 20px;
}
.regist_h4 + p{ margin-bottom:40px;}
.moreInfoInner {
	width: 95%;
	margin: 20px auto;
}
.regist_waku {
	border: 2px solid #7fcef4;
	border-radius: 6px;
	margin: 50px 0;
	padding: 19px;
	background-color: #FFF;
}
.regist_waku_right {
	width: 739px;
}
.regist_waku_right ul {
	width: 753px;
	margin-right: -14px;
	overflow: hidden;
}
.regist_waku_right ul li {
	width: 237px;
	float: left;
	margin-right: 14px;
	font-size: 12px;
	line-height: 1.4em;
}
.regist_btn_close {
	width: 20%;
	margin: 0 auto;
	display: block;
}
.regist_border {
	border-bottom: 1px solid #00b7f1;
	text-align: left;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.regist_waku_left {
	width: 513px;
}
@media (max-width: 640px) {
	.regist_waku_left {
		width: 100%;
	}
}
#attention_01 {
	display: none;
}

@media (max-width: 773px) {
.regist_h2 {
	font-size: 22px;
	line-height: 1.4em;
	color: #003c58;
	font-weight: normal;
	margin-bottom: 10px;
}
.regist_h3 {
	font-size: 20px;
	line-height: 1.4em;
	color: #00b7f1;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: center
}
.regist_h4 {
	font-size: 20px;
	line-height: 1.4em;
	color: #003c58;
	font-weight: normal;
	margin-bottom: 10px;
}
.regist_waku .floatL {
	float: none;
	text-align: center;
}
.regist_waku_right {
	width: 100%;
}
.regist_waku_right ul {
	width: 100%;
	overflow: hidden;
}
.regist_waku_right ul li {
	width: 23%;
	float: left;
	margin-right: 2%;
	font-size: 12px;
	line-height: 1.4em;
}
}

@media (max-width: 640px) {
.regist_waku .floatL {
	float: none;
	text-align: center;
}
.regist_waku_right {
	width: 100%;
}
.regist_waku_right ul {
	width: 100%;
	overflow: hidden;
}
.regist_waku_right ul li {
	width: 23%;
	float: left;
	margin-right: 2%;
	font-size: 12px;
	line-height: 1.4em;
}
}
/* 会員ID・パスワード忘れ */
.password_start {
	width: 25%;
}
.password_start .btn_text {
	padding: 15px 20px;
}
/* ----------------------------------------------------------

ショッピングカート

---------------------------------------------------------- */
#cartSet{ padding-top:5px;}
.shoppingCart_container {
	width: 100%;
	margin-top: 30px;
}
@media (min-width: 1000px) {
	.shoppingCart_containerUl {
		width: 1044px;
		margin-right: -12px;
	}
}
.shoppingCart_containerUl:after {
	content: "";
	clear: both;
	display: block;
}
.shoppingCart_containerLi {
	width: 332px;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
	position: relative;
}

@media (max-width: 640px) {
	.shoppingCart_containerLi {
		width: 100%;
	}
}

.shoppingCart_containerLi .shoppingCart_box{
	border-radius: 3px;
	border: 2px solid #4b4948;
	padding: 20px;
	box-shadow: 0 2px 2px #EEE;}
.shoppingCart_box {
	border-radius: 3px;
	border: 1px solid #DDD;
	padding: 20px;
	box-shadow: 0 2px 2px #EEE;
}
.shoppingCart_box2_form {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0 auto;
}
.shoppingCart_h3 {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
	color: #003c58;
	margin-bottom: 10px;
}
.shoppingCart_price {
	color: #EF5657;
	text-align: right;
	font-size: 16px;
}
.shoppingCart_detail {
	border-top: 1px solid #DDD;
	margin-top: 10px;
	font-size: 12px;
	line-height: 1.6em;
	padding-top: 10px;
	height: 80px;
}
input[type=checkbox] + label.shoppingCart_input, input[type=radio] + label.shoppingCart_input {
	line-height: 1.6em;
}
input[type=checkbox] + label.shoppingCart_input:before, input[type=radio] + label.shoppingCart_input:before {
	top: 13px;
}
input[type=checkbox]:checked + label.shoppingCart_input:after, input[type=radio]:checked + label.shoppingCart_input:after {
	top: 13px;
}
/* メッセージ */
.nav_cart_alert {
	background-color: #7ecef4;
	border-radius: 3px;
	padding: 10px 20px;
	display: none; /* 初期状態は非表示 */
	/* 画面上部に表示 */
	position: absolute;
	top: 80px;
	right: 38px;
	color: #FFF;
	margin-left: -175px; /* (width + padding-left + padding-right + border-left + border-right) の半分 */
}
.order_alert {
	width: 300px;
	background-color: #7ecef4;
	border-radius: 3px;
	padding: 40px;
	display: none; /* 初期状態は非表示 */
	/* 画面上部に表示 */
	position: absolute;
	top: 40%;
	left: 50%;
	right: 50%;
	color: #FFF;
	text-align: center;
	margin-left: -175px; /* (width + padding-left + padding-right + border-left + border-right) の半分 */
	z-index: 1000;
	position: fixed;
}
/* ----------------------------------------------------------

ショッピングフロウ

---------------------------------------------------------- */
.order_deleteSet {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index:100;
}
.order_btn_delete {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	background: #003c58;
	border: 0;
	outline: none;
	cursor: pointer;
}
.order_btn_delete:hover {
	background: #888;
}
.order_btn_delete_icon:before, .order_btn_delete_icon:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 14px;
	height: 2px;
	margin: 0 0 0 -7px;
	background: #FFF;
	transition: .3s;
}
.order_btn_delete .close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.order_btn_delete .close:after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.order_btn_delete .order_wrap_text {
	position: absolute;
	opacity: 0;
	top: -50px;
	left: -25px;
	width: 60px;
	padding: 10px;
	border-radius: 2px;
	background: #003c58;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	transition: .3s;
}
.order_btn_delete .order_wrap_text:after {
	position: absolute;
	top: 100%;
	left: 34px;
	height: 0;
	width: 0;
	border: 6px solid transparent;
	border-top: 6px solid #003c58;
	content: "";
}
.order_btn_delete:hover .order_wrap_text {
	opacity: 1;
	top: -40px;
}
.orderSet {
	margin-bottom: 40px;
}
.form_set_container .sumTalble {
	width: 280px;
	float: right
}
.form_set_container table.sumTalble tr {
	border-bottom: none;
}
.form_set_container table.sumTalble tr:nth-child(even) {
	background-color: transparent
}
.form_set_container table.sumTalble th, .form_set_container table.sumTalble td {
	padding: 0;
}
/* skippr */
.skippr {
	width: 100%;
	height:80%;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}
@media (min-width: 1000px) {
.skippr {
	width: 100%;
	height:80%;
	min-height: 600px;
	position: relative;
	overflow: hidden;
}
}
@media (min-width: 1200px) {
.skippr {
	width: 100%;
	height:80%;
	min-height: 600px;
	position: relative;
	overflow: hidden;
}
}
@media (min-width: 1400px) {
.skippr {
	width: 100%;
	height:80%;
	min-height: 700px;
	position: relative;
	overflow: hidden;
}
}
@media (min-width: 1600px) {
.skippr {
	width: 100%;
	height:80%;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}
}


.skippr>div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 62.5%;
	display: block;
}
.skippr>img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	min-height: 100%
}
.skippr-nav-container {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	bottom: 25px;
	overflow: auto;
	z-index: 999
}
.skippr-nav-element {
	cursor: pointer;
	float: left;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all .25s linear;
	transition: all .25s linear
}
.skippr-nav-element-bubble {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 4px
}
.skippr-nav-element-block {
	width: 60px;
	height: 10px
}
.skippr-nav-element:hover, .skippr-nav-element-active {
	background-color: #fff
}
.skippr-arrow {
	position: absolute;
	z-index: 100;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	width: 30px;
	height: 30px;
	transform-origin: center center;
	-webkit-transform-origin: top left;
	cursor: pointer
}
.skippr-previous {
	left: 2.5%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-top: 2px solid #4b4948;
	border-left: 2px solid #4b4948
}
.skippr-next {
	right: 3.5%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: 2px solid #4b4948;
	border-right: 2px solid #4b4948
}
/*# sourceMappingURL=skippr.css.map */
.btn {
	width: 48%;
	padding:10px 0;
	border: 2px solid #4b4948;
	color: #FFF !important;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
	cursor: pointer;
	line-height: 220%;
	background-color:#4b4948;
	margin-bottom:10px;
	text-shadow:none;
	text-decoration:none;
}
.btn:hover {
	background-color: #7ecef4;
	color: #4b4948
}
.hero {
	width: 100%;
	height: 80%;
	min-height: 500px;
	position: relative
}
.hero .container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 85%;
	height: 80%;
	z-index: 100
}
.hero .tagline {
	font-weight: bold;
	letter-spacing: -3px;
	width: 60%;
	padding: 8% 0 0 0;
	float: left;
	color: #4b4948;
	text-shadow:2px 1px 1px #FFF;
}
.hero .tagline p {
	font-size: 1.6rem;
	line-height: 4rem;
	margin-top: 10px
}

@media (max-width: 1450px) {
.hero .tagline p {
	width:100%;
	max-width:500px;
	font-size: 1.6rem;
	line-height: 2.8rem;
	letter-spacing: 2px;
	border-radius:10px;
	background-color:#FFF;
	overflow:hidden;
	text-align:center
}
}

@media (max-width: 800px) {
.hero .tagline p {
	margin:0 auto;
}
}

@media (max-width: 600px) {
.hero .tagline p {
	font-size: 1.0rem;
}
}
.hero .tagline h1 {
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-weight: 600;
	font-size: 4.5rem;
	letter-spacing: -0.25rem;
	line-height: 7rem
}

@media (min-width:1061px) {
.hero .tagline h1 {
	font-size: 4.5rem;
	line-height: 5rem;
	letter-spacing:1px;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-weight:600;
}
}
@media (max-width: 1060px) {
.hero .tagline h1 {
	font-size: 3.5rem;
	line-height: 5rem;
	letter-spacing:1px;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-weight:600;
}
}

@media (max-width: 600px) {
.hero .tagline h1 {
	font-size: 2.0rem;
	line-height: 3rem;
	letter-spacing:1px;
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-weight:600;
}
}

@media (max-width: 1450px) {
.hero .tagline {
	padding: 12% 0 0 0
}
}

@media (max-width: 800px) {
.hero .tagline {
	float: none;
	width: 100%;
	margin-bottom: 70px;
	text-align:center;
}
}
.hero .hero_rights {
	float: right;
	width: 38%;
	color: white;
	font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 1.5rem;
	height: 100%;
	position: relative
}
.hero .btn-container {
	width: 100%;
	max-width:500px;
	margin-top:20px;
	letter-spacing:0;
}
.hero .btn-container a{ text-decoration:none; float:left; margin-right:1%;}
.hero .btn-container .btn {
	text-align: center;
}

@media (max-width: 800px) {
	
.hero .btn-container {
	margin:20px auto 0;
}
.hero .btn-container .btn {
	float: left;
	width: 45%;
}
}

@media (max-width: 800px) {
.hero .hero_rights {
	display:none;
}
}
.wow{ visibility:hidden}
.topitem_min{ margin-top:40px;}
.topCopy{ margin:0 auto; padding:80px 0 120px; font-size:3rem; text-align:center; line-height:6rem; 
	font-family: "游明朝体", "Yu Mincho", YuMincho, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
	font-weight:400; position:relative;
	background:url(../images/chart.jpg) no-repeat; background-size:cover}

@media (max-width: 740px) {
.topCopy{padding: 20px 0 0;font-size:2rem;}
.topCopy_image{ position:relative; width:70%; height:80px; margin:0 auto;}
}
@media (min-width: 741px)  and (max-width: 1150px) {
.topCopy_image{ position:relative; width:70%; height:380px; margin:0 auto;}
}
@media (min-width: 1151px)  and (max-width: 1300px){
.topCopy_image{ position:relative; width:70%; height:500px; margin:0 auto;}
}
@media (min-width: 1301px) {
.topCopy_image{ position:relative; width:70%; height:560px; margin:0 auto;}
}
.topCopy_image img{ width:100%;}
.topCopy_pc , .topCopy_apli{ max-width:1000px; position:absolute; top:0; left:0; right:0; margin:0 auto;}
.topCopy_text{ margin-top:60px;}.topCopy_text{ margin-top:60px;}.topCopy_text{ margin-top:60px;}

.regist_img_01{
	width: 1020px;
	height: 400px;
}

.regist_03 {
	width: 332px;
}

@media (max-width: 640px) {
	.regist_img_01 {
		width: 100%;
		height: 20%;
	}

	.regist_03 {
		width: 100%;
	}
}

@media (max-width: 768px){
	.regist_img_01 {
		width: 100%;
		height: 20%;
	}

	.regist_03 {
		width: 100%;
	}
}